name: Build CavieChain

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Go
      uses: actions/setup-go@v4
      with:
        go-version: "1.24.x"

    - name: Verify Go Modules
      run: go mod tidy && git diff --exit-code

    - name: Build cavied binary
      run: go build -o cavied ./cmd/cavied
